.logo{
    cursor: pointer;
    font-weight: bold;
    font-size: 1cm;
}
.logoIcon{
    width: 2rem; 
    margin-bottom: 0.5rem;
}

.question{
    font-size: 16px;
    font-weight: bold;
}
.total{
    font-size: 16px;
    font-weight: bold;
}
.qtext{
    font-weight: bold;
    font-size: 1cm;
}
.count{
    height: 0.8cm;
    width: 2cm;
    text-align: center;
    color: grey;
    background-color: lightgray;
    border: 1px solid #dddddd;
    border-radius: 0.3em;
    margin: auto;
}
.point{
    height: 0.8cm;
    width: 1cm;
    text-align: center;
    color: grey;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 0.3em;
    margin: auto;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1cm;
}

.contentBox{
    height: 5cm;
    padding: 20px;
    border-radius: 0.5em;
    border: 1px solid #dddddd;
    background-color: white;
}

.scoreBox{
    height: 3cm;
    width: 6cm;
    padding: 20px;
    border-radius: 0.5em;
    border: 1px solid #dddddd;
    background-color: rgb(197, 241, 197);
    font-size: 1.5rem;
}

.answerBox{
    width: 75%;
    height: 1cm;
    padding: 5px 0px 0px 20px;
    border-radius: 0.5em;
    border: 1px solid #dddddd;
    background-color: white;
    font-weight: normal;
}
.answer{
    color: gray;
}

.comment .contentBox {
    font-weight: normal;
    font-size: 14px;
}

.qCount{
    color: gray;
    font-size: 1.25rem;
}

.wrapper{
    padding: 0% 15% 0% 15%;
}

body{
    background-color:whitesmoke;
    font-family: "Noto Sans KR", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: auto;
}

.my-6 {
    margin: 6rem 0;
    
}