.menu{
    height: 4cm;
}

.logo{
    cursor: pointer;
    font-weight: bold;
    font-size: 1cm;
}

.question{
    font-size: 16px;
    font-weight: bold;
}
.qtext{
    font-weight: bold;
    font-size: 1cm;
}
.count{
    height: 0.8cm;
    width: 2cm;
    text-align: center;
    color: grey;
    background-color: lightgray;
    border: 1px solid #dddddd;
    border-radius: 0.3em;
    margin: auto;
}
.point{
    height: 0.8cm;
    width: 1cm;
    text-align: center;
    color: grey;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 0.3em;
    margin: auto;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1cm;
}

.contentBox{
    height: 5cm;
    padding: 20px;
    border-radius: 0.5em;
    border: 1px solid #dddddd;
    background-color: white;
}

.scoreBox{
    height: 3cm;
    width: 6cm;
    padding: 20px;
    border-radius: 0.5em;
    border: 1px solid #dddddd;
    background-color: white;
}

.answerBox{
    width: 10cm;
    height: 1cm;
    padding: 5px 0px 0px 20px;
    border-radius: 0.5em;
    border: 1px solid #dddddd;
    background-color: white;
}

.wrapper{
    padding: 0% 15% 0% 15%;
}

body{
    background-color:whitesmoke;
    margin: auto;
}