.menu{
    height: 4cm;
}
.logo{
    cursor: pointer;
    font-weight: bold;
    font-size: 1cm;
}
.logoIcon{
    width: 2rem; 
    margin-bottom: 0.5rem;
}

.inst{
    font-size: 16px;
    color: grey;
    font-weight: bold;
    text-align: center;
}

.highlight{
    font-size: 60px;
    font-weight: bold;
}

#make{
    height: 7cm;
    width: 7cm;
    font-size: 45px;
    color: darkseagreen;
    text-align : center;
    background-color: white;
    border-color:lightgray;
}

#take{
    height: 7cm;
    width: 7cm;
    font-size: 45px;
    color: firebrick;
    text-align: center;
    background-color: white;
    border-color:lightgray;
}



.wrapper{
    padding: 0% 15% 0% 15%;
}

body{
    background-color:whitesmoke;
    font-family: "Noto Sans KR", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

