.menu{
    height: 4cm;
}
.logo{
    cursor: pointer;
    font-weight: bold;
    font-size: 1cm;
}

.inst{
    font-size: 16px;
    color: grey;
    font-weight: bold;
    text-align: center;
}

.highlight{
    font-weight: bold;
}

#make{
    font-size: 45px;
    color: darkseagreen;
    text-align:left;
    background-color: white;
    padding: 1.5cm;
    border-color:lightgray;
}

#take{
    font-size: 45px;
    color: firebrick;
    text-align: left;
    background-color: white;
    padding: 1.5cm;
    border-color:lightgray;
}

.wrapper{
    padding: 0% 15% 0% 15%;
}

body{
    background-color:whitesmoke;
}

