.menu{
    height: 4cm;
}

.question{
    font-size: 16px;
    font-weight: bold;
}

body{
    background-color:whitesmoke;
    margin: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9fe58a6b7024b013e94125adf5e8c9155ed0d8de
